<div class="w3-container">
  <h2>Angular Playground</h2>
  <button mat-flat-button color="primary" class="ng-mat-button" routerLink="/cva">CVA</button>
  <button mat-flat-button color="primary" class="ng-mat-button" routerLink="/table">Table</button>
  <button mat-flat-button color="primary" class="ng-mat-button" routerLink="/angular-pipe">Angular Pipes</button>
  <button mat-flat-button color="primary" class="ng-mat-button" routerLink="/custom-directives">Angular Custom Directives</button>
  <router-outlet></router-outlet>
</div>