.w3-theme-primary-l5 {color:#000 !important; background-color:#f3f4fb !important}
.w3-theme-primary-l4 {color:#000 !important; background-color:#d8dcf1 !important}
.w3-theme-primary-l3 {color:#000 !important; background-color:#b1b8e3 !important}
.w3-theme-primary-l2 {color:#fff !important; background-color:#8995d6 !important}
.w3-theme-primary-l1 {color:#fff !important; background-color:#6271c8 !important}
.w3-theme-primary-d1 {color:#fff !important; background-color:#3949a3 !important}
.w3-theme-primary-d2 {color:#fff !important; background-color:#334191 !important}
.w3-theme-primary-d3 {color:#fff !important; background-color:#2d397f !important}
.w3-theme-primary-d4 {color:#fff !important; background-color:#26316d !important}
.w3-theme-primary-d5 {color:#fff !important; background-color:#20295b !important}

.w3-theme-primary-light {color:#000 !important; background-color:#f3f4fb !important}
.w3-theme-primary-dark {color:#fff !important; background-color:#20295b !important}
.w3-theme-primary-action {color:#fff !important; background-color:#20295b !important}

.w3-theme-primary {color:#fff !important; background-color:#3f51b5 !important}
.w3-text-theme-primary {color:#3f51b5 !important}
.w3-border-theme-primary {border-color:#3f51b5 !important}

.w3-hover-theme-primary:hover {color:#fff !important; background-color:#3f51b5 !important}
.w3-hover-text-theme-primary:hover {color:#3f51b5 !important}
.w3-hover-border-theme-primary:hover {border-color:#3f51b5 !important}