.w3-theme-accent-l5 {color:#000 !important; background-color:#fef2f6 !important}
.w3-theme-accent-l4 {color:#000 !important; background-color:#fbd2e0 !important}
.w3-theme-accent-l3 {color:#000 !important; background-color:#f6a6c1 !important}
.w3-theme-accent-l2 {color:#fff !important; background-color:#f279a1 !important}
.w3-theme-accent-l1 {color:#fff !important; background-color:#ed4d82 !important}
.w3-theme-accent-d1 {color:#fff !important; background-color:#d91557 !important}
.w3-theme-accent-d2 {color:#fff !important; background-color:#c1134d !important}
.w3-theme-accent-d3 {color:#fff !important; background-color:#a91143 !important}
.w3-theme-accent-d4 {color:#fff !important; background-color:#910e3a !important}
.w3-theme-accent-d5 {color:#fff !important; background-color:#790c30 !important}

.w3-theme-accent-light {color:#000 !important; background-color:#fef2f6 !important}
.w3-theme-accent-dark {color:#fff !important; background-color:#790c30 !important}
.w3-theme-accent-action {color:#fff !important; background-color:#790c30 !important}

.w3-theme-accent {color:#fff !important; background-color:#e91e63 !important}
.w3-text-theme-accent {color:#e91e63 !important}
.w3-border-theme-accent {border-color:#e91e63 !important}

.w3-hover-theme-accent:hover {color:#fff !important; background-color:#e91e63 !important}
.w3-hover-text-theme-accent:hover {color:#e91e63 !important}
.w3-hover-border-theme-accent:hover {border-color:#e91e63 !important}